<!DOCTYPE html>
<html ng-app='typecast'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,user-scalable=no, scale=1, maximum-scale=1.0" />
    <title>PKMN Typécast</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-resource.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css" media="screen">
        #page-wrap{
            max-width:600px;
            margin:0 auto;
            padding-top:120px;
        }
        h4{
            font-weight:normal;
            line-height:1.6em;
        }
        .list-group-pokemon{
            overflow:hidden;
        }
        .pokemon{
            position:relative;
            z-index:1;
        }
        .pokemon-name{
            text-transform:uppercase;
        }
        .pokemon-image{
            position:absolute;
            top:10px;
            right:0;
            z-index:0;
        }
        .typelist{
            display:block;
        }
    </style>
    <script type="text/javascript" charset="utf-8">
        // Setup app namespace
        var Typecast = angular.module('typecast', ['ngResource']);
        /**
         * Handle the searching of a the PKMN database based on
         * entry string the user is typing.
         */
        Typecast.controller('PokemonCtrl', ['$scope', '$resource', function ($scope, $resource) {
            var Pokemon = $resource('data/db.json', {}, {
                get: { method:'GET', isArray: true }
            });
            var pokemons = Pokemon.get(function (pkmn) {
                $scope.pokemons = pkmn.slice(0,9);
            });
            $scope.$watch('pokemonSearch', function (newValue, oldValue) {
                if (!newValue || newValue.length < 3) {
                    return;
                }
                var pokemon = newValue.toLowerCase()
                $scope.pokemons = pokemons.filter(function (item) {
                    return item.identifier.indexOf(pokemon.toLowerCase()) === 0;
                });
            });
        }]);
    </script>
</head>
<body ng-controller="PokemonCtrl">
    <div id="page-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                        <div class="container">
                            <a href="/" class="navbar-brand">PKMN Typécast</a>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group has-feedback">
                                    <label class="control-label hidden-xs" for="pokemonSearch">Search for your opponent Pokémon</label>
                                    <input type="search" id="pokemonSearch" class="form-control" ng-model="pokemonSearch" placeholder="Pikachu" />
                                    <span class="glyphicon glyphicon-search form-control-feedback hidden-xs"></span>
                                </div>
                            </form>
                        </div>
                    </nav>
                    <p>
                        Search for the PKMN you are up againast and you can
                        see which move types are NOT VERY EFFECTIVE and those
                        which are VERY EFFECTIVE.
                    </p>
                    <div class="pokemon">
                        <ul class="list-group">
                            <li ng-repeat="pokemon in pokemons"
                                class="list-group-item list-group-pokemon active">
                                <div class="pokemon">
                                    <h2 class="pokemon-name media-heading">{{pokemon.identifier}}</h2>
                                    <h4 class="pokemon-types">
                                        Type
                                        <div ng-repeat="type in pokemon.types" class="label label-info">
                                            {{type.identifier}}
                                        </div>
                                    </h4>
                                    <h4>
                                        Not very effective
                                        <div class="typelist">
                                            <span ng-repeat="type in pokemon.strengths" class="label label-danger">
                                                {{type.identifier}}
                                            </span>
                                        </div>
                                    </h4>
                                    <h4>
                                        Very effective
                                        <div class="typelist">
                                            <span ng-repeat="type in pokemon.weaknesses" class="label label-success">
                                                {{type.identifier}}
                                            </span>
                                        </div>
                                    </h4>
                                    <h4>
                                        Immune
                                        <div class="typelist">
                                            <span ng-repeat="type in pokemon.immunities" class="label label-default">
                                                {{type.identifier}}
                                            </span>
                                        </div>
                                    </h4>
                                </div>
                                <img class="pokemon-image hidden-xs" src="http://img.pokemondb.net/artwork/{{pokemon.identifier}}.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
